
/.vs
/bin
/obj
/Properties
appsettings.Development.json
appsettings.json
*.cache
*.props
*.editorconfig
*/.vs
*/bin
*/obj
*/Properties
*/appsettings.Development.json
*/appsettings.json
*/*.cache
*/*.props
*/*.editorconfig
