
/.vs
/bin
/obj
/Properties
appsettings.Development.json
appsettings.json
*.cache
*.props
*.editorconfig
TestWebJobs/obj/Debug/net472/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
TestWebJobs/obj/Debug/net472/TestWebJobs.AssemblyInfo.cs
TestWebJobs/obj/Debug/net472/TestWebJobs.exe.withSupportedRuntime.config
TestWebJobs/obj/project.assets.json
TestWebJobs/obj/TestWebJobs.csproj.nuget.dgspec.json
TestWebJobs/obj/TestWebJobs.csproj.nuget.g.targets
