@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    
    <p>No person in their right mind would choose to live in a place like this ... unless they have something to hide.</p>
    
    <img src="../img/alien_fishing_1200x562.jpg" />

</div>
